.userList {
    margin: 3rem auto;
    width: 100%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: #38015c;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    max-height: 55vh;
    overflow-y: auto;
}

.userList::-webkit-scrollbar {
    width: 12px;
}

.userList::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ae82cc;
    border: 1px solid #ffffff;
}

.userList::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #873abb;

}

.userList h1 {
    text-align: center;
    color: white;
}

.customButton {
    color: white !important;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.control input {
    font: inherit;
    background-color: #f1e1fc;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
}

.actions button:hover {
    background-color: #873abb;
    border-color: #873abb;
}

.actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
    background-color: transparent;
    color: #ae82cc;
}